{% set site_url = frappe.utils.get_url() %}
<style>
    html, body {
        margin-top: 0mm !important;
        margin-bottom: 0mm !important;
    }
    .print-format {
        margin-top: 3mm !important;
        margin-bottom: 0mm !important;
    }

    .data-grid {
        width: 100%;
        display: block;
    }

    .data-item {
        display: inline-block;
        width: 45%;
        vertical-align: top;
        font-size: 9px;
    }

    .name {
        display: inline-block;
        font-weight: bold;
        font-size: 9px;
        page-break-inside: avoid;
        white-space: nowrap;
        align-items: baseline;
    }

    .value {
        display: inline-block;
        font-size: 9px;
        page-break-inside: avoid;
        white-space: nowrap;
        align-items: baseline;
    }

    .barcode {
        margin-top: 5px;
        display: flex;
        justify-content: center;
        page-break-inside: avoid;
        height: 20px;
    }

    img, svg {
        width: 100%;
        height: 20px;
    }
</style>

<!-- Looping through all items in args with barcodes -->
{% for data in items_with_barcodes %}
    <div class="data-grid">
        <div class="data-item">
            <span class="name">{{ data.item_name or "" }}</span>
        </div>
        <div class="data-item">
            <span class="name">Item Code: </span>
            <span class="value">{{ data.item_code or "" }}</span>
        </div>
        <div class="data-item">
            <span class="name">Width: </span>
            <span class="value">{{ data.width or "" }}</span>
        </div>
        <div class="data-item">
            <span class="name">Height: </span>
            <span class="value">{{ data.height or "" }}</span>
        </div>
        <div class="data-item">
            <span class="name">Color: </span>
            <span class="value">{{ data.color or "" }}</span>
        </div>
        <div class="data-item">
            <span class="name">Qty: </span>
            <span class="value text-right">{{ data.qty or 0 }}</span>
        </div>
    </div>
    
    <!-- for printing barcode, barcode is rendering as png image, we can set barcode dimensions from below -->
    <div class="barcode">
        {% if data.bar_code %}
            <img src="data:image/png;base64,{{ data.bar_code.value }}" 
                    alt="Barcode" 
                    style="max-width: 100%; height: 70px;" />
        {% endif %}
    </div>

    <!-- for page break after each item -->
    <div style="page-break-after: always;"></div>
{% endfor %}
